/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(82, 82, 82);
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(116, 124, 106, 0.8),
      rgba(32, 45, 16, 0.8)
    ),
    url(/img/brewery-images/brewery.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 60px;
  left: 60px;
  animation: fadeIn 1500ms ease-in;
}

.logo {
  height: 110px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
}
.heading-primary-main {
  display: block;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1500ms ease-in-out;
}
.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 15px;
  animation: moveInRight 1500ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
