//COLORS
$color-grey: rgb(128, 128, 128);
$color-grey-light: rgb(229, 235, 241);
$color-white: rgb(245, 245, 245);
$color-black: rgb(0, 0, 0);
$color-primary-light: rgb(169, 223, 191);
$color-primary: rgb(82, 190, 128);
$color-primary-dark: rgb(34, 153, 84);
//default-icon-color
$color-primary-darker: #065226;
$color-secondary-light: rgba(116, 124, 106, 0.8);
$color-secondary-dark: rgba(32, 45, 16, 0.702);

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;

//ICONS
$default-icon-size: 5.2rem;
$default-icon-color: invert(26%) sepia(33%) saturate(1077%) hue-rotate(92deg)
  brightness(88%) contrast(99%);
