.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      $color-secondary-light,
      $color-secondary-dark
    ),
    url(/img/brewery-images/brewery.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem;
    animation: fadeIn 1500ms ease-in;
  }

  &__logo {
    height: 11rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__button {
    text-align: center;
    animation: moveInBottom 1500ms ease-out 0.25s;
    animation-fill-mode: backwards;
  }
}
